@model ProjetCRA.Models.EmployeMoisView
@{
    ViewBag.Title = "AdminListeEmployes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Liste des employés</h2>
<div>
    <div class="table-responsive text-center">
        <table class="table table-bordered">
            <tr>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Prénom</th>
            </tr>

            @foreach (var data in ViewBag.listEmployes)
            {
                if (data.ISADMIN == false)
                {
        <tr>
            <td>@data.MATRICULE</td>
            <td>@data.NOM</td>
            <td>@data.PRENOM</td>

            <td style="margin:0; padding:0">

                <form method="post" action="/MissionJour/MissionsEnCoursEmploye">
                    <div asp-validation-summary="ModelOnly" class="text-danger">

                        <div class="form-group">
                            <input id="Matricule" name="Matricule" type="hidden" value=@data.MATRICULE />
                            <input id="Nom" name="Nom" type="hidden" value=@data.NOM />
                            <input id="Prenom" name="Prenom" type="hidden" value=@data.PRENOM />
                            <input id="JourMois" name="JourMois" type="hidden" value=@ViewBag.jourCourant />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Voir" class="btn btn-primary" />
                        </div>
                    </div>
                </form>


            </td>

            <td style="margin:0; padding:0">

                <form method="post" action="/Utilisateur/RapportActiviteMensuel">
                    <div asp-validation-summary="ModelOnly" class="text-danger">

                        <div class="form-group">
                            <input id="Matricule" name="Matricule" type="hidden" value=@data.MATRICULE />
                            <input id="Nom" name="Nom" type="hidden" value=@data.NOM />
                            <input id="Prenom" name="Prenom" type="hidden" value=@data.PRENOM />
                            <input id="JourMois" name="JourMois" type="hidden" value=@ViewBag.jourCourant />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Rapport d'activité" class="btn btn-primary" />
                        </div>
                    </div>
                </form>


            </td>
        </tr>
                }
            }
        </table>
    </div>
</div>

